.product-page-envios-list-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-name{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    border: 1px solid rgba(0 0 0 / 0.5);
    border-radius: 3px;
    outline: 0;
}

.product-page-envios-list-container input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    border-radius: 3px;
    outline: 0;
    border: 1px solid rgba(0 0 0 / 0.5);
}

.product-page-envios-list-container > div{
    width: 100%;
    min-height: 56px;
    /* position: absolute;
    left: 0;
    top: calc(100% + 10px); */
    background: var(--white);
    border: 1px solid rgba(0 0 0 / 0.5);
    /* box-shadow: 0 0 5px rgba(0 0 0 / 0.5); */
    overflow: hidden;
    /* overflow-y: scroll; */
    border-radius: 5px;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.product-page-envios-list-container > div.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.product-page-envios-list-container > div ul li button{
    width: 100%;
    height: 56px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--t-200ms-linear);
}

.product-page-envios-list-container > div ul li button:hover{
    background: var(--component);
}

.product-page-envios-list-container > div ul li button > span{
    color: var(--color-1);
}

.product-page-envios-list-container > div ul li button p{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.item-departament{
    font-size: 14px;
    color: gray;
    font-style: italic;
}
