.p-pg-envios{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding: 10px; */
    /* border-radius: 6px; */
    /* border: 1px solid var(--component); */
    transition: var(--t-200ms-linear);
}

.product-page-envios-name{
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;

    border: 1px solid var(--component);
    border-bottom: 0;

    border-radius: 4px;
}

.product-page-envios-name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--component);
}

.product-page-envios-name span{
    position: absolute;
    left: 5px;
    top: 50%;
    translate: 0 -50%;
}

.product-page-envios-name input{
    border: 0;
    outline: 0;
    padding: 0 5px;
    margin-left: 29px;
    width: calc(100% - 29px);
    height: 100%;
    display: flex;
    border-radius: 5px;
}

.product-page-envios-name p{
    position: absolute;
    left: 10px;
    top: -10px;
    width: auto;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 6px;
    background: var(--color-1);
    color: var(--white);
    /* font-weight: bold; */
    font-size: 11px;
    border-radius: 3px;
}

.p-pg-envios-results-local-storage{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.p-pg-envios-results-local-storage li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.change-location{
    gap: 3px !important;
    border-radius: 3px !important;
    height: auto !important;
    padding: 4px 6px 4px 4px !important;
}

.change-location span{
    font-size: 16px;
}

.change-location p{
    font-size: 13px;
}

.p-pg-envios-button{
    width: 100%;
    background: var(--body);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid var(--component);
    border-radius: 5px;
    padding: 10px 8px;
    gap: 5px;
}

.tag{
    position: absolute;
    right: 10px;
    top: -10px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 18px;
    font-size: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.p-pg-envios-button.gratis .tag{
    background: var(--gratis);
    color: var(--white);
}

.p-pg-envios-button.envio-preferente .tag{
    background: var(--preferente);
    color: var(--white);
}

.p-pg-envios-button.envio-aplicado .tag{
    background: var(--aplicado);
    color: var(--white);
}

.p-pg-envios-button.envio-express .tag{
    background: var(--express);
    color: var(--white);
}

.p-pg-envios-button.envio-directo .tag{
    background: var(--directo);
    color: var(--white);
}

.p-pg-envios-data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-pg-envios-data > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.p-pg-envios-data > div p{
    text-align: left;
}

.p-pg-envios-data > div p.text{
    font-size: 14px !important;
}

.p-pg-envios-data > div p.title.text{
    font-size: 16px !important;
}

.p-pg-envios-data .pryce{
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

.p-pg-btn-select{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--component);
    /* background: var(--component); */
    padding: 0 10px;
    border-radius: 6px 6px 6px 0;
}

.p-pg-btn-select span{
    font-size: 20px;
}

.search-input-container{
    width: 100%;
    /* background: purple; */
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.search-input-container input{
    width: 100%;
    height: 44px;
}

.search-results{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 176px;
    background: var(--body);
    border-radius: 0 10px 10px 10px;
    border: 1px solid var(--component);
    overflow-y: scroll;

    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 1;
}

.search-results::-webkit-scrollbar{
    width: 3px;
}

.search-results::-webkit-scrollbar-thumb{
    background: var(--color-1);
}

.search-results ul{
    width: 100%;
    display: flex;
}

.search-results ul li{
    width: 100%;
    display: flex;
}

.search-results ul li button{
    width: 100%;
    height: 44px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: var(--t-200ms-linear);
}

.search-results ul li button:hover{
    background: rgba(0 0 0 / 0.05);
}

.p-pg-envios-message{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
