.province-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.province-search-input{
    width: auto;
    min-width: 300px;
    height: 48px;
    padding: 0 10px;
    border: 2px solid var(--color-1);
    border-radius: 4px;
    outline: 0;
}

.year-filters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5px;
}

.year-filters button{
    padding: 4px 10px;
    background: var(--color-1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-filters button p{
    color: var(--white);
}

.province-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.province-tag{
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.province-tag img{
    width: 100%;
    transition: var(--t-200ms-linear);
    object-fit: cover;
}

.province-tag .image-2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    opacity: 0;
}

.province-tag:hover .image-2{
    opacity: 1;
}

.province-tag-info{
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

.province-tag-info > div:nth-child(1){
    background: var(--color-1);
    width: auto;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 6px;
    border-radius: 25px;
    gap: 3px;
}

.province-tag-info > div:nth-child(1) > span,
.province-tag-info > div:nth-child(1) > div{
    color: var(--white);
}

.province-tag-info > div:nth-child(2){
    padding: 4px 10px;
    border-radius: 25px;
    margin-right: auto;
    font-weight: bold;
    background: var(--white);
    color: var(--color-1);
}

.envios-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0 0 0 / 0.25);
    /* transition: var(--t-200ms-linear); */
    backdrop-filter: blur(2px);
    transition: all 400ms linear;
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.envios-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.envios-pop-up{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% - 20px);
    max-width: 1000px;
    height: auto;
    padding: 20px;
    background: var(--body);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
    /* transition: var(--t-200ms-linear); */
    transition: all 400ms linear;
    interpolate-size: allow-keywords;
    z-index: 9999;
    
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.envios-pop-up.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.envios-pop-up > div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.envios-pop-up-imagenes{
    display: flex;
    width: 100%;
    height: 360px;
    position: relative;
}

.envios-pop-up-button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

.envios-pop-up-button span{
    color: var(--color-1);
    font-size: 36px;
}

.envios-pop-up-button-1{
    left: 0;
}

.envios-pop-up-button-2{
    right: 0;
}

.envios-pop-up-imagenes ul{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.envios-pop-up-imagenes ul li{
    display: flex;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

.envios-pop-up-imagenes ul li:nth-child(1){
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
}

.envios-pop-up-imagenes ul li:nth-child(2){
    left: calc(50% + 20px);
    translate: calc(-50% + 20px) -50%;
    scale: 0.9;
    z-index: 0;
}

.envios-pop-up-imagenes ul li img{
    display: flex;
    width: 280px;
    max-height: 320px;
    object-fit: cover;
    border-radius: 6px;
}

.envios-pop-up > div > div:nth-child(2){
    width: 100%;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.envios-pop-up > div > div:nth-child(2)::before{
    content: '';
    position: absolute;
    left: -1px;
    top: 50%;
    translate: 0 -50%;
    border-radius: 2px;
    width: 2px;
    height: 100%;
    /* height: 80%; */
    background: rgba(0 0 0 / 0.25);
}

.envios-pop-up > div > div:nth-child(2) > div{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.info-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.info-item span{
    color: var(--color-1);
    font-size: 32px;
}

.info-label{
    font-weight: bold;
    color: var(--black);
}

.info-value{
    color: var(--text);
}

.clear-filters-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    background: rgba(0 0 0 / 0.075);
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.clear-filters-btn p{
    position: absolute;
    left: 50%;
    top: 95%;
    translate: -50% 0;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    border-radius: 25px;
    background: var(--color-1);
    color: var(--white);
    font-size: 12px;
    transition: var(--t-200ms-linear);
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.clear-filters-btn:hover p{
    opacity: 1;
    top: calc(100% + 5px);
}

.envios-pop-up-imagenes ul li:nth-child(2){
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 600px){
    .province-top-container{
        flex-direction: column;
        gap: 10px;
    }

    .search-container{
        width: 100%;
    }

    .province-top-container > .d-flex-center-center{
        width: 100%;
        justify-content: left !important;
    }

    .province-search-input{
        width: 100%;
        min-height: unset;
        max-width: unset;
    }

    .province-content{
        grid-template-columns: repeat(2, 1fr);
    }

    .province-tag{
        height: 140px;
    }

    .province-tag-info > div:nth-child(1){
        height: 34px;
    }

    .province-tag-info > div:nth-child(1) div{
        font-size: 13px;
    }

    .province-tag-info > div:nth-child(1) span{
        font-size: 20px;
    }

    .province-tag-info > div:nth-child(2){
        font-size: 14px;
    }

    .envios-pop-up > div{
        grid-template-columns: 1fr;
    }

    .envios-pop-up > div > div:nth-child(2)::before{
        width: 100%;
        height: 2px;
        left: 0;
        top: 0;
        translate: unset unset;
    }

    .envios-pop-up > div > div:nth-child(2){
        padding: 20px 0 0 0;
        gap: 10px;
    }
}
