.customers-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.customers-track {
    display: flex;
    align-items: center;
    gap: 100px;

    width: max-content;

    animation: customers-scroll 10ms linear infinite;
}

.customers-track li {
    list-style: none;
    flex-shrink: 0;
}

.customers-track a {
    transition: var(--t-200ms-linear);
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-track a img {
    width: 120px;
    transition: var(--t-200ms-linear);
    height: auto;
    max-height: 60px;
    filter: grayscale(1);
}

.customers-track a:hover img{
    scale: 1.05;
    filter: grayscale(0);
}

@keyframes customers-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
