.filtros-top-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--component);
    grid-column: 1/-1;
}

.filters-button-open{
    align-items: center;
    justify-content: center;
    width: 44px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid var(--color-1);
    background: var(--body);

    display: none;
}

.filters-button-open span{
    color: var(--color-1);
}

.products-page-right{
    display: flex;
    flex-direction: column;
}

.filtros-top-brands{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

.filtros-top-brands button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 4px 6px;
    border: 1px solid var(--component);
    transition: var(--t-200ms-linear);
    background: var(--white);
    position: relative;
}

.filtros-top-brands button p{
    transition: var(--t-200ms-linear);
}

.filtros-top-brands button.active:nth-child(1){
    background: var(--black);
    border: 1px solid var(--black);
}

.filtros-top-brands button.active:nth-child(1) p{
    color: gold;
}

.filtros-top-brands button.active:nth-child(2){
    background: var(--kamas-1);
    border: 1px solid var(--kamas-1);
}

.filtros-top-brands button.active:nth-child(2) p{
    color: var(--white);
}

.filtros-top-brands button.active:nth-child(3){
    background: crimson;
    border: 1px solid crimson;
}

.filtros-top-brands button.active:nth-child(3) p{
    color: var(--white);
}

.filtros-top-brands button.active:nth-child(4){
    background: var(--body);
}

.filtros-top-brands button.active:nth-child(4) p{
    display: inline-block;
    line-height: unset;
    margin: 0;
    padding: 0;
    color: #000000;
    font-weight: bold;
}

.filtros-top-brands button.active:nth-child(4) p::first-letter{
    color: crimson;
}

.filtros-top-brands button::before{
    content: 'x';
    position: absolute;
    right: -7px;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    line-height: 0;
    border-radius: 100%;
    background: var(--component);
    transition: var(--t-200ms-linear);
    font-size: 10px;
    color: var(--color-1);
    opacity: 0;
}

.filtros-top-brands button.active::before{
    opacity: 1;
}

.filtros-top-brands button p{
    color: var(--text);
    transition: var(--t-200ms-linear);
    font-size: 14px;
}

.filtros-top-brands button:hover{
    border: 1px solid var(--color-1);
}

.filtros-top-brands button.active{
    background: var(--color-1);
    border: 1px solid var(--color-1);
}

.filtros-top-brands button.active p{
    color: var(--white);
}

.filtros-top-order-container{
    display: flex;
    width: 100%;
    max-width: 200px;
    position: relative;
}

.filtros-top-order-header{
    width: 100%;
    height: 44px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--component);
}

.filtros-top-order-header span{
    color: var(--color-1);
}

.filtros-top-order-header p{
    transition: var(--t-200ms-linear);
}

.filtros-top-order-header:hover p{
    color: var(--color-1);
}

.filtros-top-order-list{
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    z-index: 1;
    width: 100%;
    background: #F9F9F9;
    border: 1px solid var(--component);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.filtros-top-order-list.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.filtros-top-order-list li{
    width: 100%;
    display: flex;
}

.filtros-top-order-list li button{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 8px;
    gap: 10px;
}

.filtros-top-order-list li button:hover{
    background: rgba(0 0 0 / 0.05);
}

.filtros-top-order-list li button span,
.filtros-top-order-list li button p{
    color: var(--color-1);
}

@media screen and (max-width: 600px){
    .filters-button-open{
        display: flex;
    }
}
