.product-page-quantity{
    display: flex;
    align-items: center;
    justify-content: left;
    /* flex-direction: column; */
    gap: 10px;
}

.product-page-quantity > div{
    width: auto;
    border: 1px solid var(--component);
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    overflow: hidden;
    gap: 5px;
}

.product-page-quantity > div span{
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-page-quantity > div button{
    width: 48px;
    height: auto;
    aspect-ratio: 1/1;
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.product-page-quantity > div button:hover{
    background: var(--component);
}
