.header-bottom-container{
    width: 100%;
    padding: 0 20px;
    background: #7E7E7E;
    display: flex;
}

.header-bottom{
    margin: auto;
    width: 100%;
    height: 48px;
    max-width: var(--content-mx-width-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-bottom-categories{
    display: flex;
    width: auto;
    height: 100%;
}

.header-bottom-categories-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: relative;
}

.header-bottom-categories-list > li{
    display: flex;
    width: auto;
    height: 100%;
}

.header-bottom-categories-list > li > a{
    width: auto;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-categories-list > li > a:hover{
    background: rgba(255 255 255/ 0.075);
}

.header-bottom-categories-list > li > a p{
    color: var(--white);
}

.header-social-networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.header-social-networks li:nth-child(2){
    position: relative;
}

.header-social-networks li:nth-child(2)::before,
.header-social-networks li:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 2px;
    height: 50%;
    display: flex;
    background: var(--component);
    z-index: 0;
    /* background: rgba(255 255 255 / 0.5); */
}


.header-social-networks li:nth-child(2)::before{
    left: -8px;
}

.header-social-networks li:nth-child(2)::after{
    right: -8px;
}

.header-social-networks li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-social-networks li a i,
.header-social-networks li a p{
    color: var(--white);
}

.header-social-networks li a:hover p{
    text-decoration: underline;
}

.header-bottom-tags{
    display: none;
}

.submenu-container{
    position: fixed;
    left: 0;
    top: 158px;
    width: 100vw;

    background: var(--header);
    box-shadow: 0 3px 5px rgba(0 0 0 / 0.25);
    /* border-bottom: 2px solid var(--component); */
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.header-bottom-categories-list li:hover .submenu-container,
.submenu-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.submenu{
    margin: auto;
    width: 100%;
    max-width: var(--content-mx-width-header);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.submenu-tag{
    width: 100%;
}

.submenu-tag-1 img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: flex;
}

.submenu-tag-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.submenu-targets{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.submenu-list-container > p{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3px;
}

.submenu-list-container > ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.submenu-list-container > ul li{
    padding-left: 7px;
    display: flex;
}

.submenu-list-container > p::before{
    content: '';
    display: flex;
    width: 3px;
    height: 20px;
    background: var(--color-1);
}

.submenu-list-container > ul li a p{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.submenu-list-container > ul li a:hover p{
    color: var(--color-1);
}

@media screen and (max-width: 600px){
    .header-bottom-container{
        padding: 0 10px;
    }

    .header-bottom-categories,
    .header-social-networks{
        display: none;
    }

    .header-bottom-tags{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
    }

    .header-bottom-tags a,
    .header-bottom-tags button{
        width: auto;
        height: 100%;
    }

    .header-bottom-tags .header-fav-button b{
        bottom: unset;
        top: 3px;
        font-size: 7px;
        width: 15px;
    }

    .header-bottom-tags .header-fav-button span,
    .header-bottom-tags .header-fav-button p,
    .location-button p,
    .location-button span{
        color: var(--component);
    }

    .header-bottom-tags .header-fav-button:hover span,
    .header-bottom-tags .header-fav-button:hover p,
    .location-button:hover p,
    .location-button:hover span{
        color: var(--white);
    }
}
