.product-page-color-select a{
    display: flex;
    width: auto;
    height: auto;
    border: 2px solid #999;
    transition: var(--t-200ms-linear);
    border-radius: 100%;
}

.product-page-color-select a:hover{
    border: 2px solid var(--color-1);
}

.product-page-color-select a img{
    display: flex;
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.product-page-color-modal-container{
    position: fixed;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    width: 100%;
    height: 200px;
    max-width: var(--content-mx-width);
    padding: 20px;
    background: var(--white);
    box-shadow: 0 0 4px rgba(0 0 0 / 0.25);
    border-radius: 10px 10px 0 0;
    z-index: 102;
}
