.product-page-sku{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0 0 0 / 0.1);
    background: rgba(0 0 0 / 0.05);
    transition: var(--t-200ms-linear);
    border-radius: 3px;
    position: relative;
}

.product-page-sku:hover{
    background: rgba(0 0 0 / 0.1);
}

.product-page-sku::before{
    content: 'Copiar';
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    border-radius: 0 50px 50px 50px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1435CA;
    background: #1435CA!important;
    color: var(--white) !important;
    font-size: 11px !important;
    transition: var(--t-200ms-linear);
    z-index: 1;

    opacity: 0;
    pointer-events: none !important;
    user-select: none !important;
}

.product-page-sku:hover::before{
    opacity: 1;
}

.product-page-sku p,
.product-page-sku span{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.product-page-sku p{
    font-size: 12px;
}

.product-page-sku span{
    font-size: 18px;
}

.copied{
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    border-radius: 0 50px 50px 50px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--whatsapp);
    background: var(--whatsapp)!important;
    color: var(--white) !important;
    font-size: 11px !important;
    transition: var(--t-200ms-linear);
    z-index: 2;

    opacity: 0;
    pointer-events: none !important;
    user-select: none !important;
}

.copied.active{
    opacity: 1;
}

.product-page-top-info{
    padding-bottom: 20px;
    position: relative;
}

.product-page-top-info::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0 0 0 / 0.25);
    border-radius: 10px;
}

@media screen and (max-width: 600px){
    .product-page-top-info{
        display: none !important;
    }
}
