.products-page-filters-buttons-container{
    grid-column: 1/-1;
}

.products-page-filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-page-filter > p{
    color: var(--black);
    font-weight: bold;
}

.products-page-filter-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.products-page-filter-list li button,
.products-page-filter-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
    height: auto !important;
    border: 1px solid var(--component);
    padding: 4px 6px;
    border-radius: 4px;
    transition: var(--t-200ms-linear);
    background: var(--white);
    position: relative;
}

.products-page-filter-list-link::before,
.products-page-filter-list li button::before{
    content: 'x';
    position: absolute;
    right: -7px;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    line-height: 0;
    border-radius: 100%;
    background: var(--component);
    transition: var(--t-200ms-linear);
    font-size: 10px;
    color: var(--color-1);
    opacity: 0;
}

.products-page-filter-list-link.active::before,
.products-page-filter-list li button.active::before{
    opacity: 1;
}

.products-page-filter-list li button p,
.products-page-filter-list-link p{
    font-size: 14px;
    color: var(--text);
}

.products-page-filter-list-link:hover,
.products-page-filter-list li button:hover{
    border: 1px solid var(--color-1);
}

.products-page-filter-list-link.active,
.products-page-filter-list li button.active{
    background: var(--color-1);
    border: 1px solid var(--color-1);
}

.products-page-filter-list-link.active p,
.products-page-filter-list li button.active p{
    color: var(--white);
}

.products-page-filters-buttons{
    display: none;
}

.filters-button-close{
    display: none;
}

.filters-layout{
    display: none;
}

.envio-gratis-button-container{
    width: 100%;
    border-bottom: 2px solid var(--component);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.envio-gratis-button{
    position: relative;
    display: flex;
    width: 42px;
    height: 24px;
    background: #A9A9A9;
    transition: var(--t-200ms-linear);
    cursor: pointer;
    border-radius: 25px;
}

.envio-gratis-button.active{
    background: var(--color-1);
}

.envio-gratis-button > span{
    position: absolute;
    left: 2px;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    width: auto;
    height: calc(100% - 4px);
    border-radius: 100%;
    aspect-ratio: 1/1;
    background: var(--white);
    transition: var(--t-200ms-linear);
}

.envio-gratis-button-container > div.active span{
    left: calc(100% - 22px);
}

@media screen and (max-width: 600px){
    .products-page-left{
        position: fixed;
        left: -70%;
        top: 110px;
        width: 70%;
        height: calc(100vh - 110px);
        z-index: 110;
        background: var(--body);
        overflow: hidden;
        overflow-y: auto;
        padding: 10px;
        border-right: 1px solid var(--component);
        transition: var(--t-200ms-linear);
    }

    .products-page-left.active{
        left: 0;
    }

    .filters-layout{
        display: flex;
        position: fixed;
        right: 0;
        top: 110px;
        width: 100%;
        height: calc(100vh - 110px);
        background: rgba(0 0 0 / 0.5);
        transition: var(--t-200ms-linear);
        z-index: 109;

        opacity: 0;
        pointer-events: none;
        user-select: none;
    }

    .filters-layout.active{
        opacity: 1;
        pointer-events: unset;
        user-select: unset;
    }

    .filters-button-close{
        display: flex;
    }
}
