.page-main-product-page{
    margin-top: 160px !important;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-page-block-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-page-container{
    width: 100%;
    display: grid;
    grid-template-columns: 700px 1fr;
    gap: 20px;
    position: relative;
}

.product-page-target{
    width: 100%;
    position: relative;
}

.product-page-target-1{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.product-page-target-2{
    position: sticky;
    top: 120px;
    height: fit-content;
}

.product-page-category{
    color: var(--text);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.product-page-name{
    font-size: 28px;
    font-weight: bold;
    color: #212121;
    text-transform: uppercase;
}

.product-page-resume li{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.product-page-resume li span{
    color: var(--color-1);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.product-page-resume li div{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.product-page-resume li div b{
    font-weight: bold;
}

.page-product-normal-price{
    color: var(--gray);
    text-decoration: line-through;
    font-size: 18px;
}

.page-product-sale-price{
    color: var(--color-1);
    font-weight: bold;
    font-size: 34px;
}

.product-page-discount{
    background: red;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 25px;
}

.quantity{
    border: 1px solid rgba(0 0 0 / 0.1);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.quantity button{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    border-radius: 4px;
}

.quantity button span{
    transition: var(--t-200ms-linear);
    color: var(--text);
    font-size: 20px;
}

.quantity button:hover span{
    color: var(--color-1);
}

.quantity-input{
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.product-page-user-name{
    padding: 0 20px;
    width: 100%;
    height: 52px;

    border-radius: 4px;
    outline: 0;
    border: 1px solid rgba(0 0 0 / 0.1);
    color: var(--text);
}

.product-page-user-name-container{
    position: relative;
}

.sin-stock{
    filter: grayscale(1) !important;
    pointer-events: none !important;
    user-select: none !important;
}

.sin-stock-message{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: none;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
}

.sin-stock .sin-stock-message{
    display: flex;
}

.button-continue-container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

@media screen and (max-width: 800px){
    .product-page-block-content .d-grid-1-3fr.gap-20{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-page-container{
        display: flex;
        flex-direction: column;
    }

    .product-page-target{
        width: 100%;
    }

    .product-page-target.product-page-target-1{
        gap: 10px !important;
    }

    .product-page-images-container{
        height: auto;
    }

    .product-page-top-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product-page-name{
        font-size: 24px;
    }

    .button-continue-container{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 9999 !important;
        padding: 20px 10px;
        background: var(--white);
        box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
        border-radius: 20px 20px 0 0;
        gap: 10px;
    }

    .product-page-quantity{
        height: 60px;
    }

    .product-page-quantity input{
        width: 60px;
    }

    .product-page-quantity > div button{
        width: 56px;
    }

    .page-main-product-page .whatsapp-button{
        display: none !important;
    }
}
