.results-main{
    margin-top: 178px !important;
}

.search-products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.pagination-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px){
    .search-products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    .search-products{
        grid-template-columns: repeat(2, 1fr);
    }
}
