.benefist-container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.benefist-container li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.benefist-container li span{
    color: var(--color-1);
    font-size: 36px;
}

@media screen and (max-width: 600px){
    .benefist-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        display: none;
    }
}
