.product-page-gifts ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.product-page-gifts ul li{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    padding: 5px;
    background: var(--body);
    border: 1px solid var(--color-1);
    border-radius: 4px;
}

.product-page-gifts ul li::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    translate: -50% 0;
    display: flex;
    width: 10px;
    height: 4px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: var(--t-200ms-linear);
    background: var(--color-1);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.product-page-gifts ul li:hover::before{
    opacity: 1;
}

.product-page-gifts ul li img{
    display: flex;
    width: 40px;
    height: auto;
    object-fit: contain;
}

.product-page-gifts ul li p{
    position: absolute;
    left: 50%;
    top: calc(100% + 4px);
    translate: -50% 0;
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    color: var(--white);
    border-radius: 3px;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.product-page-gifts ul li:hover p{
    opacity: 1;
}

[class*="1-puff"] p,
[class*="2-puff"] p {
    width: 40px;
}

[class*="3-cojines"] p,
[class*="4-cojines"] p{
    width: 56px;
}

[class*="1-almohada"] p {
    width: 72px;
}

[class*="2-almohadas"] p,
[class*="3-almohadas"] p,
[class*="4-almohadas"] p{
    width: 74px;
}

[class*="2-almohadas-viscoelasticas"] p,
[class*="1-protector-de-colchon"] p{
    width: 80px;
}
