.image-discount{
    position: absolute;
    left: 112px;
    top: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 25px;
    background: var(--color-1);
    color: var(--white);
    z-index: 35;
}

.product-page-image-component{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.product-page-images-container{
    width: 100%;
    overflow: hidden;
    touch-action: pan-y;
    position: relative;
}

.tipo-de-envio{
    position: absolute;
    left: 10px;
    top: 53px;
    z-index: 10;
}

.tipo-de-envio p{
    font-weight: bold;
}

.tipo-de-envio.gratis{
    color: var(--gratis);
}

.tipo-de-envio.envío-preferente{
    color: var(--preferente);
}

.tipo-de-envio.envío-aplicado{
    color: var(--aplicado);
}

.product-page-images-content{
    width: 100%;
    aspect-ratio: 1/1;
}

.product-page-images-content::-webkit-scrollbar{
    display: none;
}

.product-page-images{
    display: flex;
    width: auto;
    height: 100%;
    transition: var(--t-200ms-linear);
    will-change: transform;
    border-radius: 6px;
}

.product-page-images > li{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    scroll-snap-align: start;
}

.product-page-images > li > img{
    margin: auto;
    aspect-ratio: 1/1;
    user-select: none;
    pointer-events: none;
    transition: var(--t-200ms-linear);
    border-radius: 6px;
}

.zoom-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.zoom-wrapper img{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    object-fit: cover;
}

.zoom-lens{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 150%;
}

.product-page-images-button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
}

.product-page-images-button-1{
    left: 0;
}

.product-page-images-button-2{
    right: 0;
}

.product-page-images-button span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    font-size: 50px;
    color: var(--color-1);
    transition: var(--t-200ms-linear);
}

.product-page-images-miniatures-container{
    width: 100%;
    background: var(--white);
    overflow-x: auto;
}

.product-page-images-miniatures-container::-webkit-scrollbar{
    display: none;
}

.product-page-images-miniatures{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-page-images-miniatures li{
    width: auto;
    height: auto;
    display: flex;
    cursor: pointer;
    position: relative;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 5px;
    overflow: hidden;
}

.product-page-images-miniatures li.active{
    border: 1px solid crimson;
}

.product-page-images-miniatures li img{
    aspect-ratio: 1/1;
    border-radius: 4px;
}

.product-images-share-button{
    position: absolute;
    left: 10px;
    top: 54px;
    z-index: 1;
}

@media screen and (max-width: 600px){
    .image-discount{
        left: 10px;
        top: 10px;
    }

    .tipo-de-envio{
        left: 10px;
        top: 94px;
    }

    .product-page-image-component{
        display: flex;
        flex-direction: column-reverse;
    }

    .product-page-images-button-1{
        left: 10px;
    }

    .product-page-images-button-2{
        right: 10px;
    }

    .product-page-images > li > img{
        width: 80%;
    }

    .zoom-lens{
        background-size: 200%;
    }

    .product-page-images-miniatures{
        display: flex;
        flex-direction: row;
    }
}
