.product-card{
    width: 100%;
    max-width: 280px !important;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0 0 0 / 0.2);
    background: var(--white);
    border-radius: 6px;
    overflow: hidden;
    transition: var(--t-200ms-linear);
}

.product-card:hover{
    border: 1px solid var(--color-1);
}

.product-card.agotado:hover{
    border: 1px solid #FF0000;
}

.product-card-agotado{
    background: #FF0000;
}

.product-card-agotado span{
    color: var(--white);
}

.product-card-name{
    transition: var(--t-200ms-linear);
    color: var(--text);
    font-size: 14px;
}

.product-card:hover .product-card-content .product-card-name{
    color: var(--black);
}

.product-card-fabric{
    position: absolute;
    left: 0;
    top: 29px;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 10px;
    font-weight: bold;
    background: #efefef;
    z-index: 1;
}
