*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

:root{
    --color-1: crimson;
    --color-2: #FF0000;

    --white: #FFFFFF;
    --gray: #434343;
    --black: #000000;

    --text: #333333;
    --f-size-small: 14px;

    --container-mx-width: 2000px;
    --content-mx-width: 1600px;

    --t-100ms-linear: all 100ms linear;
    --t-200ms-linear: all 200ms linear;
    --t-300ms-linear: all 300ms linear;
    --t-400ms-linear: all 400ms linear;

    --kamas-1: #AD3362;

    --header: #FFFFFF;

    --body: #FFFFFF;

    --component: #E9E9E9;

    --gratis: #0AC40A;
    --preferente: blue;
    --aplicado: orange;
    --express: orangered;
    --directo: crimson;

    --whatsapp: #25D366;

    --text: #333333;
    --f-size-small: 14px;

    --container-mx-width: 2000px;
    --content-mx-width: 1600px;

    --t-100ms-linear: all 100ms linear;
    --t-200ms-linear: all 200ms linear;
    --t-300ms-linear: all 300ms linear;
    --t-400ms-linear: all 400ms linear;
}

@font-face{
    font-family: 'DM Sans';
    src: url('../public/assets/fonts/DM_Sans/DMSans.ttf') format('truetype');
    font-display: swap;
}

body{
    width: 100vw;
    background: var(--body);
    color: var(--text);
}

body::-webkit-scrollbar{
    width: 6px;
    display: none;
}

body::-webkit-scrollbar-thumb{
    background: var(--color-1);
}

body::selection{
    background: var(--color-1);
    color: var(--white);
}

main{
    width: 100%;
    margin-top: 130px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-container{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-content{
    width: 100%;
    max-width: var(--content-mx-width);
}

.block-title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    grid-column: 1/-1;
}

.block-title{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #333333;
    letter-spacing: -2px;
}

.block-title-buttons{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.block-title-buttons button{
    width: 56px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: var(--white);
    background: var(--color-1);
}

.border-bottom-2-solid-component{
    border-bottom: 2px solid var(--component);
}

fieldset{
    border: 0;
    outline: 0;
}

select{
    cursor: pointer;
}

option{
    cursor: pointer;
}

.page-banner-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
}

button{
    width: auto;
    border: 0;
    cursor: pointer;
    background: none;
    outline: 0;
}

.font-13{
    font-size: 13px !important;
}

.font-14{
    font-size: 14px !important;
}

.color-red{
    color: #FF0000;
}

.color-white{
    color: var(--white) !important;
}

.color-gray{
    color: gray !important;
}

.color-color-1{
    color: var(--color-1) !important;
}

.color-gray-4{
    color: #444444;
}

.bg-component{
    background: var(--component);
}

.border-r-6{
    border-radius: 6px;
}

.text{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.title{
    font-size: 17px;
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.sub-title{
    font-size: 16px !important;
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase !important;
}

.font-bold{
    font-weight: bold !important;
}

.first-uppercase::first-letter{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase !important;
}

.d-flex{
    display: flex;
}

.d-flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-center-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.d-flex-center-right{
    display: flex;
    align-items: center;
    justify-content: right;
}

.d-flex-start{
    display: flex;
    align-items: flex-start;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.w-100{
    width: 100%;
}

.d-grid-1-1{
    display: grid;
    grid-column: 1/-1;
}

.d-grid-2-1fr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.d-grid-3-1fr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.d-grid-3-auto-1fr{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.d-grid-1-2fr{
    display: grid;
    grid-template-columns: 1fr;
}

.d-grid-auto-1fr{
    display: grid;
    grid-template-columns: auto 1fr;
}

.d-grid-auto-1fr-block{
    display: grid;
    grid-template-columns: auto 1fr;
}

.d-grid-5-3-2fr{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.d-grid-2-auto{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.d-grid-3-2-1fr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.d-grid-1-3fr{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.d-grid-column-1-1{
    grid-column: 1/-1;
}

.d-grid-column-2-3{
    grid-column: 2/3;
}

.margin-auto{
    margin: auto;
}

.margin-left{
    margin-left: auto !important;
}

.margin-right{
    margin-right: auto;
}

.margin-top{
    margin-top: auto;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom{
    margin-bottom: auto;
}

.margin-bottom-5{
    margin-bottom: 5px !important;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.padding-10{
    padding: 10px !important;
}

.padding-20-to-0{
    padding: 20px !important;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-right-20-to-0{
    padding-right: 20px;
}

.gap-5{
    gap: 5px;
}

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

.gap-20-to-10{
    gap: 20px;
}

.padding-10-0{
    padding: 10px 0;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left !important;
}

.h-100{
    height: 100% !important;
}

.button-link{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    gap: 5px;
}

.button-link-text,
.button-link span{
    transition: var(--t-200ms-linear);
}

.button-link-1{
    background: transparent;
}

.button-link-1 .button-link-text,
.button-link-1 span{
    color: var(--black);
}

.button-link-1:hover .button-link-text,
.button-link-1:hover span{
    color: var(--color-1);
}

.button-link-2{
    width: auto;
    height: 48px;
    padding: 0 20px;
    background: var(--color-1);
    border-radius: 4px;
}

.button-link-2:hover{
    background: var(--color-2);
}

.button-link-2 .button-link-text,
.button-link-2 span{
    color: var(--white);
}

.button-link-3{
    width: auto;
    height: 48px;
    padding: 0 20px;
    border-radius: 4px;
}

.button-link-3:hover{
    background: rgba(0 0 0 / 0.075);
}

.button-link-3 .button-link-text{
    color: var(--text);
}

.brand-link{
    padding: 3px 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-link p{
    font-size: 14px;
}

.el-cisne-button-link{
    background: var(--black);
    border: 1px solid var(--black);
}

.el-cisne-button-link p{
    color: gold;
}

.kamas-button-link{
    background: #AD3362;
    border: 1px solid #AD3362;
}

.kamas-button-link p{
    color: var(--white);
}

.paraiso-button-link{
    border: 1px solid crimson;
    background: crimson;
}

.paraiso-button-link p{
    color: var(--white);
}

.komfort-button-link{
    border: 1px solid var(--black);
    background: var(--white);
}

.komfort-button-link p{
    display: inline-block;
    color: var(--black);
}

.komfort-button-link p::first-letter{
    color: crimson;
}

.button-1{
    width: auto;
    padding: 5px 10px;
    border: 1px solid rgba(0 0 0 / 0.1);
    transition: var(--t-200ms-linear);
    background: rgba(0 0 0 / 0.05);
    border-radius: 4px;
}

.button-1 p,
.button-1 span{
    transition: var(--t-200ms-linear) !important;
}

.button-1:hover,
.button-1.active{
    background: var(--color-1);
}

.button-1:hover p,
.button-1:hover span,
.button-1.active p,
.button-1.active span{
    color: var(--white) !important;
}

.product-card{
    width: 100%;
    /* max-width: 280px !important; */
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0 0 0 / 0.2);
    background: var(--white);
    border-radius: 6px;
    overflow: hidden;
    transition: var(--t-200ms-linear);
}

.product-card:hover{
    border: 1px solid var(--color-1);
}

.product-card.agotado:hover{
    border: 1px solid #FF0000;
}

.product-card-agotado{
    background: #FF0000;
}

.product-card-agotado span{
    color: var(--white);
}

.product-card-name{
    transition: var(--t-200ms-linear);
    color: var(--text);
    font-size: 14px;
}

.product-card:hover .product-card-content .product-card-name{
    color: var(--black);
}

.message{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 1px solid transparent;
}

.message span{
    font-size: 30px;
}

.message p{
    font-size: 14px;
}

.message-warning{
    border: 1px solid rgba(255 165 0 / 0.5);
    background: rgba(255 165 0 / 0.1);
    border-radius: 4px;
}

.message-warning span{
    color: #FFA500;
}

.message-note{
    border: 1px solid green;
    background: rgba(37 214 76 / 0.1);
    border-radius: 4px;
}

.message-note span{
    color: green;
}

.position-relative{
    position: relative;
}

.italic{
    font-style: italic;
}

.visible-on-desktop-no-mobile{
    display: unset;
}

.visible-on-mobile-no-desktop{
    display: none;
}

.rotate-270deg{
    rotate: 270deg;
}

@media screen and (max-width: 800px){
    .d-grid-5-3-2fr{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    *{
        cursor: none !important;
        font-size: 19px;
    }

    body::-webkit-scrollbar{
        display: unset;
    }

    .visible-on-desktop-no-mobile{
        display: none;
    }

    .visible-on-mobile-no-desktop{
        display: unset;
    }

    main{
        margin-top: 110px;
    }

    .block-container{
        padding: 0 10px;
    }

    .block-title{
        margin-right: auto;
        text-align: left !important;
    }

    .d-grid-2-1fr,
    .d-grid-3-2-1fr,
    .d-grid-auto-1fr,
    .d-grid-1-3fr,
    .d-grid-3-1fr,
    .d-grid-3-auto-1fr{
        grid-template-columns: 1fr !important;
    }

    .d-grid-1-2fr,
    .d-grid-5-3-2fr{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gap-20-to-10{
        gap: 10px;
    }

    .padding-right-20-to-0{
        padding-right: 0;
    }

    .padding-20-to-0{
        padding: 0 !important;
        padding: 0 0 0 0 !important;
    }
}
